@import '../../../colors';

.button-reset {
  width: 40%;
  border: none;
  border-radius: 5px;
  font-size: 0.6rem;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.reset-wrapper {
  font-family: Open Sans, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary-gray;
  > img {
    height: 100%;
    width: 100%;
  }
  #reset-form-finish {
    justify-content: space-around;
  }
  .reset-form {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    height: 35%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-group {
      margin-bottom: 0;
      input {
        border-radius: 8px;
        font-size: 0.65rem;
        height: calc(1.5rem + 2px);
      }
      label {
        margin-bottom: 0;
      }
    }
    #reset-title,
    #reset-pass-title {
      font-size: 1rem;
      color: $dark-blue;
      margin-bottom: 0;
    }
    #reset-email {
      font-size: 0.8rem;
    }
    .reset-form__controls-container {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    #strength {
      display: inline-flex;
      align-items: baseline;
      width: 100%;
      justify-content: flex-start;
      > ul {
        margin-bottom: 0.6rem;
      }
      > small {
        font-weight: bold;
        color: $dark-blue;
      }
    }
    .reset-form__btn-container {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      .reset-form__btn-container__submit {
        @extend .button-reset;
      }
      .reset-form__btn-container__cancel {
        @extend .button-reset;
        background: $primary-gray;
      }
    }
    .reset-form__button-validate {
      @extend .button-reset;
      width: 50%;
      height: 13%;
      font-size: 0.7rem;
      background: $primary-green;
    }
  }
}

@media only screen and (max-width: 1150px) {
  #reset-form-finish {
    width: 30% !important;
  }
}

@media only screen and (max-height: 600px) {
  #reset-form-finish {
    font-size: 0.5rem !important;
    #reset-pass-title {
      font-size: 0.6rem;
      font-weight: bold;
    }
    .reset-form__button-validate {
      font-size: 0.5rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  #reset-form-finish {
    > .reset-form__controls-container {
      margin-top: 1rem;
    }
  }
  .reset-form {
    width: 30% !important;
    font-size: 0.6rem !important;

    #reset-title {
      font-size: 0.9rem !important;
    }
    #reset-pass-title {
      display: none;
    }
    #reset-email {
      font-size: 0.7rem !important;
    }
    .button-reset {
      font-size: 0.5rem;
    }
    .reset-form__button-validate {
      width: 70% !important;
    }
  }
}

@media only screen and (min-height: 1000px) {
  .reset-form {
    font-size: 0.8rem !important;
    #reset-title {
      font-size: 1.1rem !important;
    }
    #reset-email {
      font-size: 0.9rem !important;
    }
    .button-reset {
      font-size: 0.7rem;
    }
  }
}
