<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.association.title}">Vinci association</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.association.greeting(${targetUser.firstName}, ${targetUser.lastName})}">
    Dear
</p>
<p th:if="${isOrganisation}" th:text="#{email.association.text4(${user.firstName})}">
    The organisation user_name is trying to associate you to their account. Please confirm by clicking the following link:
</p>
<p th:if="${isFamily}" th:text="#{email.association.text1(${user.firstName}, ${user.lastName})}">
    The family user user_name is trying to associate you to their account. Please confirm by clicking the following link:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/#/associate?u=${user.id}&tu=${targetUser.id}&f=${isFamily}|})" th:href="${url}"
       th:text="${url}">Login link</a>
</p>
<p>
    <span th:text="#{email.association.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
