<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.association.title}">Vinci association</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.association.greeting(${user.firstName}, ${user.lastName})}">
    Dear
</p>
<p th:text="#{email.association.text3(${targetUser.firstName}, ${targetUser.lastName})}">
    User user_name has been associated to your account.
</p>
<p>
    <span th:text="#{email.association.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">JHipster.</em>
</p>
</body>
</html>
