/* ==========================================================================
Welcome page styles
========================================================================== */

@import '../../colors';
@import '../../app';

.entry-btn {
  background: white;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 0.75rem;
  justify-content: center;
  display: flex;
  background: $light-blue;
}

.wrapper {
  font-family: Open Sans, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary-gray;
  > img {
    height: 100%;
    width: 100%;
  }
  .form_container {
    position: absolute;
    height: 25%;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    a {
      width: 60%;
    }
    a:hover {
      text-decoration: none;
    }
    .form_container__sign_in_btn {
      @extend .entry-btn;
      background: white;
      color: black;
      > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .form_container__registration {
      @extend .flex-center;
      width: 100%;
      flex-direction: column;
      color: white;
      font-size: 0.75rem;
      .form_container__registration__register_btn {
        @extend .entry-btn;
        background: $light-blue;
        color: $dark-blue;
        > span {
          @extend .truncate-text;
        }
      }
      > span {
        @extend .truncate-text;
        width: 100%;
        text-align: center;
      }
    }
  }
  .about-container {
    position: absolute;
    font-size: 0.55rem;
    left: 50%;
    width: 30%;
    bottom: 28%;
    height: 8%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .about-container__title {
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
    }
    .about-container__content {
      @extend .flex-center;
      font-size: 0.45rem;
      text-align: center;
    }
  }
}

.larger-font {
  font-size: 0.75rem;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

.new-patient-btn {
  border-color: #007bff;
  background-color: #007bff;
  font-size: 0.8rem;
}

.body-img {
  max-width: 300px;
  display: block;
  margin: 0 auto 0 auto;
  left: 45%;
}

@media only screen and (min-width: 1400px) {
  .about-container__title {
    font-size: 0.65rem;
  }
  .about-container__content {
    font-size: 0.55rem !important;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 800px) {
  .wrapper .form_container a {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
  .wrapper .form_container a {
    width: 100%;
  }
  #language {
    left: 55% !important;
  }
  .about-container__title {
    font-size: 0.45rem;
  }
  .about-container__content {
    font-size: 0.35rem !important;
  }
}
