@import '../../../colors';

.footer {
  background: $gradient-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px 5px 0 0;
  .footer-img {
    height: auto;
    min-width: 115px;
    max-width: 10%;
  }
}

@media only screen and (max-width: 605px) {
  .footer {
    padding-top: 0.5rem;
  }
}
