@import '../../../colors';

.button-register {
  width: 30%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 0.45rem;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 20px;
}

.register-wrapper {
  font-family: Open Sans, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary-gray;
  > img {
    height: 100%;
    width: 100%;
  }
  #language {
    top: 31%;
  }
  .register-form {
    position: absolute;
    width: 20%;
    height: 45%;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.45rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-group {
      margin-bottom: 0.1rem;
      height: 20%;
      input,
      select {
        border-radius: 8px;
        font-size: 0.65rem;
        height: calc(1.5rem + 2px);
        border: 1.3px solid $dark-blue;
      }
      .was-validated .form-control:invalid,
      .form-control.is-invalid,
      .was-validated .custom-select:invalid,
      .custom-select.is-invalid {
        border-color: #dc3545;
      }
      label {
        margin-bottom: 0;
      }
      .invalid-feedback {
        margin-top: 0.1rem;
      }
    }
    #strength {
      display: inline-flex;
      align-items: baseline;
      width: 100%;
      justify-content: flex-start;
      > ul {
        margin-bottom: 0.6rem;
      }
      > small {
        font-weight: bold;
        color: $dark-blue;
      }
    }
    #register-title {
      font-size: 0.65rem;
      color: $dark-blue;
    }
    .register-form__btn-container {
      height: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      .register-form__btn-container__submit {
        @extend .button-register;
        background: $primary-green;
      }
      .register-form__btn-container__cancel {
        @extend .button-register;
        background: $primary-gray;
      }
    }
  }
}

@media only screen and (min-height: 500px) and (max-height: 700px) {
  .register-form {
    height: 43% !important;
    #register-title {
      display: none;
    }
    .button-register {
      height: 75%;
    }
  }
}

@media only screen and (min-height: 700px) and (max-height: 1000px) {
  #register-title {
    font-size: 0.7rem !important;
  }
  .register-form {
    font-size: 0.6rem !important;
  }
  .button-register {
    font-size: 0.5rem !important;
  }
}

@media only screen and (min-height: 1000px) and (max-height: 1400px) {
  #register-title {
    font-size: 0.8rem !important;
  }
  .register-form {
    font-size: 0.7rem !important;
  }
  .button-register {
    font-size: 0.6rem !important;
  }
}

@media only screen and (max-width: 900px) {
  .register-form {
    width: 30% !important;
  }
}
