@import '../../colors';

.button-login {
  width: 40%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 0.55rem;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  font-family: Open Sans, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary-gray;
  > img {
    height: 100%;
    width: 100%;
  }
  .form-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 20%;
    height: 38%;
    font-size: 0.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .form-group {
      margin-bottom: 0.1rem;
      .form-control.is-invalid {
        border-color: $brown;
      }
    }
    .form-container__inputs {
      height: fit-content;
      input {
        border-radius: 8px;
        font-size: 0.65rem;
        height: calc(1.5rem + 2px);
      }
      label {
        margin-left: 2.3rem;
        margin-bottom: 0;
      }
      .invalid-feedback {
        margin-top: 0.1rem;
        color: $brown;
      }
      .text-danger {
        color: $brown !important;
      }
      > span {
        color: $brown;
      }
    }
    .form-container__checkbox {
      height: fit-content;
      margin-left: 2.3rem;
      margin-right: 0;
      > label {
        margin: 0.1rem 0 0 0;
        display: inline-flex;
        color: white;
      }
    }
    .form-container__reset-register {
      height: 20%;
      display: flex;
      flex-direction: column;
      margin-left: 2.3rem;
      color: white;
      > a {
        color: white;
      }
      a:first-child {
        margin-bottom: 0.2rem;
      }
    }
    .form-container__btn-container {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .form_container__btn-container__signin {
        @extend .button-login;
        background: $light-blue;
        color: $dark-blue;
      }
      .form_container__btn-container__cancel {
        @extend .button-login;
        background: $primary-gray;
        color: white;
      }
    }
  }
}

@media only screen and (min-height: 700px) and (max-height: 1000px) {
  .form-container {
    font-size: 0.7rem !important;

    .form-container__inputs {
      input {
        font-size: 0.7rem !important;
      }
    }
  }
  .button-login {
    font-size: 0.7rem !important;
  }
}

@media only screen and (min-height: 1000px) and (max-height: 1400px) {
  .form-container {
    font-size: 0.8rem !important;

    .form-container__inputs {
      input {
        font-size: 0.8rem !important;
      }
    }
  }
  .button-login {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 900px) {
  .form-container {
    width: 30% !important;
  }
}
