@import '../../../colors';

$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  background: $gradient-blue;
  border-radius: 0 0 5px 5px;
  padding: 0.2em 1em;
  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }
  a.nav-link {
    font-weight: 400;
    > span {
      margin-left: 5px;
    }
  }
  .jh-navbar-toggler {
    font-size: 2em;
    width: 100%;
    z-index: 9999;
  }
}
.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.navbar-dark .navbar-nav .nav-link .nav-link:not(:hover) .nav-link:not(:focus) {
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9) !important;
}

.logo-img {
  height: auto;
  min-width: 115px;
  max-width: 10%;
}

.brand-title {
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
    font-size: 120%;
  }
}

.loading-bar {
  height: 3px;
  background-color: #004597;
  position: absolute;
  top: 0;
  z-index: 1031;
  display: flex;
}

.larger-font {
  font-size: 1.5em;
}

@media only screen and (max-width: 860px) {
  .larger-font {
    font-size: 0.9em;
    padding: 0;
    display: flex;
  }
}

.navToggler {
  border-color: #444444ad;
}

.bar {
  width: 20px;
  height: 2px;
  background-color: #444444ad;
  margin: 5px 0;
  transition: 0.4s;
}

.dropdown-menu {
  font-size: 0.7rem !important;
}
