<p align="center">
    <strong>VINCI APPLCIATION PRIVACY POLICY</strong>
</p>
<p>
This privacy policy governs your use of the software application    <strong>vINCI</strong> (“Application”) for mobile devices that was created
    by <strong>COMTRADE 360 d.o.o. </strong>. The Application aims to improve
    the health and wellbeing of the elderly citizens by monitoring their vital
    information, scheduling activity events, generating health scores and
    answering various questionnaires.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        What information does the Application obtain and how is it used?
    </strong>
</p>
<p>
    <strong>User Provided Information</strong>
</p>
<p>
    The Application obtains the information you provide when you download and
    register a new account in the Application. Only upon a successful
    registration you can access the features offered by the vInci application.
</p>
<p>
    When you register with us and use vInci, you generally provide (a) your
    name, email address, age, user name, password and other registration
    information; (b) optionally you can choose to add more personal information
    such your phone number and physical address; (c) information you provide us
    when you contact us for support; (d) information you enter into our system
    when using vInci, such questionnaire answers and health-related
    information; (e) social medial information obtained by Google and Facebook
    services such as the profile information, profile image, gender, user ID
    associated with either of those two services, age, friends, and any other
    information you permit the social media service to share with third
    parties. All the data we receive is dependent on your privacy settings with
    the social network; (f) device-specific information such as the device
    model, operating system version, network information, unique device ID and
    other available information; (g) logging data obtained through ongoing
    usages. Helpful for detecting any service issues needed to be handled by
    us; (h) sensor data from any of the connected fitness or well-being devices
    connected to your mobile device; (i) the application version code and
    version name needed for issue addressing, usage statistics, user adoption
    ratios, network traffic balancing and other services that the vInci
    platform might provide in the future.<strong></strong>
</p>
<p>
    We may also use the information you provided us to contact your from time
    to time to provide you with important information, required notices and
    marketing promotions.
</p>
<p>
    <strong>Automatically Collected Information</strong>
</p>
<p>
    In addition, vInci may collect certain information automatically,
    including, but not limited to, the type of mobile device you use, your
    mobile devices unique device ID, the IP address of your mobile device, your
    mobile operating system, the type of mobile Internet browsers you use, and
    information about the way you use the vInci application.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        Does the vInci application collect precise real time location
        information of the device?
    </strong>
</p>
<p>
    vInci does collect precise information about the location (eg.
    longitude/latitude) through your device IP address, Wi-Fi, Bluetooth, and
    GPS coordinates available on your mobile device. We may also collect the
    information about your location using other technologies and sensors which
    may provide us with the information about nearby devices. Location
    information is needed for steps monitoring, communicating with nearby
    sensor devices, determining ambient location and other features.
</p>
<p>
    <strong>Do we share your information?</strong>
</p>
<p>
    We share your information to other family members, caregivers, and
    contacts. We share your information including your username, physical
    activities, sensor data, feeling score, health score, questionnaire answers
    with family members, doctors, nursing staff and any other caregiver.
</p>
<p>
    We may share your personal information with third parties outside the
    Company, its affiliates, and its subsidiaries in special circumstances:
</p>
<p>
    · sharing your information with our consultants, business partners and
    service providers who maintain our infrastructure;
</p>
<p>
    · support administrators that will have access to your data (including the
    email address and any other provided information) for the purpose of
    providing any necessary support with any issues you might experience with
    your account, statistical analysis, account termination, usage restrictions
    and other administrative services.
</p>
<p>
    <strong>
        Do third parties see and/or have access to information obtained by the
        vInci application?
    </strong>
</p>
<p>
    Only aggregated, anonymized data is periodically transmitted to external
    services to help us improve the vInci application and our services. We will
    share your information with third parties only in the ways that are
    described in this privacy statement.
</p>
<p>
    We may disclose User Provided and Automatically Collected Information:
</p>
<ul type="disc">
    <li>
        as required by law, such as to comply with a subpoena, or similar legal
        process;
    </li>
    <li>
        when we believe in good faith that disclosure is necessary to protect
        our rights, protect your safety or the safety of others, investigate
        fraud, or respond to a government request;
    </li>
    <li>
        with our trusted services providers who work on our behalf, do not have
        an independent use of the information we disclose to them, and have
        agreed to adhere to the rules set forth in this privacy statement.
    </li>
    <li>
        if <strong>COMTRADE 360 </strong>is involved in a merger, acquisition,
        or sale of all or a portion of its assets, you will be notified via
        email and/or a prominent notice on our Web site of any change in
        ownership or uses of this information, as well as any choices you may
        have regarding this information.
    </li>
</ul>
<p>
    <strong>How do we protect your data?</strong>
</p>
<p>
    Our Company prioritizes the protection of user’s data from any malicious
    intent, unauthorized access, alteration, accidental deletion we hold.
</p>
<p>
    We are concerned about safeguarding the confidentiality of your
    information. We provide physical, electronic, and procedural safeguards to
    protect information we process and maintain. For example, we limit access
    to this information to authorized employees and contractors who need to
    know that information in order to operate, develop or improve our vInci
    application.
</p>
<p>
    Although we endeavor provide reasonable security for information we process
    and maintain, no security system is impenetrable, and we cannot 100%
    guarantee for the security of our systems.
</p>
<p>
    <strong>
        What are your choices and consent about the information you provide?
    </strong>
</p>
<p>
    You may decline to submit any of your personal information in which case
    the vInci application and any related service will be of limited usage to
    you.
</p>
<p>
    Minimal registration. You can access some of the features the vInci
    application provides by submitting only the minimum required data when
    registering your new account (username, email, password).
</p>
<p>
    <strong>What are my opt-out rights?</strong>
</p>
<p>
    You can stop all collection of information by the vInci easily by
    uninstalling the vInci. You may use the standard uninstall processes as may
    be available as part of your mobile device or via the mobile application
marketplace or network. You can also request to opt-out via email, at    <strong>vinci.aal@comtrade.com </strong>.
</p>
<p>
    <strong>Data Retention Policy, Managing Your Information</strong>
</p>
<p>
    We will retain User Provided data for as long as you use the Application
    and for a reasonable time thereafter. We will retain Automatically
    Collected information for up to 24 months and thereafter may store it in
    aggregate. If you’d like us to delete User Provided Data that you have
provided via the Application, please contact us at    <strong>vinci.aal@comtrade.com </strong>and we will respond in a reasonable
    time. Please note that some or all of the User Provided Data may be
    required in order for the Application to function properly.
</p>
<p>
    <strong>Children’s privacy policy</strong>
</p>
<p>
    This application may only be used by children with the consent of a parent,
    guardian with parental responsibility over the child.
</p>
<p>
    If you are under 16 years old and live in a country in the European Union,
    European Economic Area, UK, Switzerland, or you are under 13 years old and
    live in any other country except those in the European Union, or if you are
    not old enough to agree to the vInci terms and conditions, a parent or a
    guardian must agree to our terms on our behalf.
</p>
<p>
    We do not use vInci to knowingly solicit data from or market to children
    under the age of 13. If a parent or guardian becomes aware that his or her
    child has provided us with information without their consent, he or she
    should contact us at <strong>vinci.aal@comtrade.com</strong> . We will
    delete such information from our files within a reasonable time.
</p>
<p>
    <strong> </strong>
    <strong></strong>
</p>
<p>
    <strong>Changes</strong>
</p>
<p>
    This Privacy Policy may be updated from time to time for any reason. We
    will notify you of any changes to our Privacy Policy by posting the new
    Privacy Policy here and informing you via email or text message. You are
    advised to consult this Privacy Policy regularly for any changes, as
    continued use is deemed approval of all changes.
</p>
<p>
    <strong>Your Consent</strong>
</p>
<p>
    By using the vInci application, you are consenting to our processing of
    your information as set forth in this Privacy Policy now and as amended by
    us. "Processing,” means using cookies on a computer/hand held device or
    using or touching information in any way, including, but not limited to,
    collecting, storing, deleting, using, combining and disclosing information,
    all of which activities will take place in <strong>Slovenia </strong>as the
    country of hosting. If you reside outside <strong>Slovenia </strong>your
    information will be transferred, processed, and stored there under privacy
    standards of <strong>Slovenia</strong>.
</p>
<p>
    <strong>Contact us</strong>
</p>
<p>
    If you have any questions regarding privacy while using the vInci
    application, or have questions about our practices, please contact us via
    email at <strong>vinci.aal@comtrade.com </strong>.
</p>
